<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">
            <h1>Categoria</h1>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CATEGORIA</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cat :${categorias}">
                        <th scope="row" th:text="${cat.id}"></th>
                        <td th:text="${cat.nombre}"></td>
                        <td th:text="${cat.estado}"></td>
                        <td>@mdo</td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </body>
</html>

